default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  timeout: 5000

development:
  <<: *default
  username: afeefa
  password: ThisIsAStrongPassword123!
  database: afeefa-backend-api-dev

test:
  <<: *default
  username: afeefa
  password: ThisIsAStrongPassword123!
  database: afeefa-backend-api-test

production:
  <<: *default
  username: afeefa
  password: ThisIsAStrongPassword123!
  database: afeefa-backend-api-production

afeefa:
  <<: *default
  username: afeefa
  password: ThisIsAStrongPassword123!
  database: afeefa_neos_live
